nfs:

  server:
    exports:
      absent:
        - /srv/useless

      present:

        /srv/nfs:
          clients:
            - hosts: '10.0.2.0/24'
              options:
                - 'rw'
                - 'sync'
                - 'no_subtree_check'
            - hosts: '*.example.com'
              options:
                - 'rw'

  mount:
    somename:
      mountpoint: "/some/path"
      location: "hostname:/path"
      opts: "vers=3,rsize=65535,wsize=65535"
      persist: True
      mkmnt: True

  unmount:
    someothername:
      mountpoint: "/some/other/path"
      location: "hostname:/other/path"
      persist: False
